@{
    ViewBag.Title = "Home Page";
}

    <div class="jumbotron">
        <h1>Drew's MIS4200 MVC APP</h1>
        <p class="lead">This application will be updated throughout the semester to practice skills and show progress in the class.</p>
        <p><a  class=""></a></p>
    </div>

<div class="row">
    <div class="col-md-4">
        <h2>Expectations</h2>
        <p>
            I expect this to be a useful tool in my development as a MIS profressional.
            I believe this will be a valuable skill to learn and use in my career. I am excited to get to work!
        </p>
        <p><a class=""></a></p>
    </div>
    <div class="col-md-4">
        <h2>HandShake Profile</h2>
        <p>Here you can access my Handshake profile which has my resume and other skills pertaining to finding a job in the MIS and analytics field.</p>
        <p><a class="btn btn-default" href="https://ohio.joinhandshake.com/users/9279827">Learn more &raquo;</a></p>
        @Html.ActionLink("Customers", "Index", "Customers")<br />
        @Html.ActionLink("Orders", "Index", "Orders")<br />
        @Html.ActionLink("Products", "Index", "Products")<br />
        @Html.ActionLink("Vets", "Index", "Vets")<br />
        @Html.ActionLink("Pets", "Index", "Pets")
    </div>
    <div class="col-md-4">
        <h2>LinkedIn</h2>
        <p>My LinkedIn profile shows similar things as my handshake and also offers my resume to potential employers.</p>
        <p><a class="btn btn-default" href="https://www.linkedin.com/in/drewsado?trk=people-guest_people_search-card">Learn more &raquo;</a></p>
    </div>
</div>

